extends ./app.pug

block content
  table(class="table table-sm")
    thead
      tr
        //- th(scope='col') #
        th(scope='col') figi
        th(scope='col') ticker
        th(scope='col') isin
        th(scope='col') minPriceIncrement
        th(scope='col') currency
        th(scope='col') name
        th(scope='col') type
    tbody
      for bond in bonds
        tr
          td= bond.figi
          td= bond.ticker
          td= bond.isin
          td= bond.minPriceIncrement
          td= bond.currency
          td= bond.name
          td= bond.type
